<div class="artist-page-container">
  <div class="artist-container">
    <div class="artist-picture">
      <%= image_tag(@artist.image_url, :alt => @artist.name) %>
    </div>
    <div class="artist-description">
      <div class="artist-name">
        <h1><%= @artist.name.upcase %></h1>
      </div>
      <div class="genre-desc">
        <p><%= @artist.followers.to_s.reverse.gsub(/(\d{3})(?=\d)/, '\\1,').reverse %> followers </p>
        <p class="genre"><%= @genre.map {|genre| "#{genre} -" }.join("\n").delete_suffix("-") %></p>
      </div>
    </div>
    <div class="add-remove">
      <% if @artist.followed_by?(current_user) %>
        <%= link_to my_artist_path(@artist), method: :delete do %>
          <i class="fas fa-heart followed"></i>
        <% end %>
      <% else %>
        <%= link_to artist_my_artists_path(@artist), method: :post do %>
          <i class="far fa-heart not-followed"></i>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="artist-next-event">
    <div class="release">
      <h1>LATEST RELEASES</h1>
      <% @releases.each do |release| %>
      <%= render 'shared/release_card', release: release%>
      <% end %>
    </div>
    <% if @concert %>
      <div class="concert">
        <h1>NEXT CONCERT</h1>
        <%= render 'shared/concert_card', concert: @concert%>
      </div>
    <% end %>
    <div class="fill">
    </div>
  </div>
</div>
