<div class="artist-card">
  <%= image_tag(artist.image_url, :alt => artist.name, class: "artist-avatar" ) %>
  <div class="artist-info">
    <div class="artist-description">
      <p><%= artist.name  %></p>
      <p><%= rand(1000..1000000)  %> followers</p>
    </div>
    <% if artist.followed_by?(current_user) %>
      <%= link_to my_artist_path(artist), method: :delete do %>
        <i class="fas fa-heart"></i>
      <% end %>
    <% else %>
      <%= link_to artist_my_artists_path(artist), method: :post do %>
        <i class="far fa-heart"></i>
      <% end %>
    <% end %>
  </div>
</div>
