<div class="artist-card">
  <%= image_tag(artist.image_url, :alt => artist.name, class: "artist-avatar" ) %>
  <div class="artist-info">
    <div class="artist-description">
      <p><%= artist.name  %></p>
      <p><%= rand(1000..1000000)  %> followers</p>
    </div>
    <% if true #should be is_artist_followed %>
      <%= image_tag("plus.svg", :alt => "plus", class: "add-icon") %>
    <% else %>
      <%= image_tag("minus-circle.svg", :alt => "minus", class: "remove-icon") %>
    <% end %>
  </div>
</div>
