<div class="concert-card">
  <div class="concert-info">
    <div class="concert-text">
      <div class="concert-name">
        <h2><%= @artist.name %></h2>
      </div>
      <div class="concert-city">
        <p><i class="fas fa-map-marker-alt"></i> <%= %w[Paris Lyon Nantes Marseille Bordeaux Berlin Barcelona Angers Trellaze Marrakech Marlie-Gomon].sample %></p>
      </div>
    </div>
    <div class="concert-date">
      <p><%= rand(2021..2022) %>-<%= rand(10..12) %>-<%= rand(1..30) %></p>
      <p><i class="fas fa-users"></i> <%= rand(2000..20000) %> attendes</p>
    </div>
  </div>
</div>
